[Unit]
Description=A script for rerun bot
After=syslog.target network.target

[Service]
WorkingDirectory=/home/MINOS
ExecStart=/home/MINOS/TelegramBot.py

Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target


